#velhaGuardaHome{
    background-image: url(../assets/img1.jpg), url(../assets/Sobrevivendo_no_Inferno.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right, left;
    height: 220vh;
    width: 100%;
    display: flex;
}
.container {
    display: flex;
    width: 80%;
    margin: auto;
}
#velhaGuardaHome .container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    backdrop-filter: blur(5px);
    backdrop-filter: brightness(20%);
  }
  #velhaGuardaHome .container p {
    font-size: 20px;
    color: white;
    width: 80%;
    text-align: left;
  }
  
  #velhaGuardaHome .container h1 {
    color: #32b9cd;
    font-weight: 800;
  }
#comentarios{
    background-color: darkgray;
}